.clear-pokedex {
  background-color: #ff4242;
  color: white;
  border: none;
  padding: 0.5em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.1s;

  &:hover {
    background-color: #ff6161;
  }

  &:active {
    transform: translateY(2px);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 66, 66, 0.5);
  }
}
